'.source.js':
  'ReactJS Component Template':
    'prefix': 'react-class-component-template'
    'body': """
      "use strict";

      import React from "react";

      class $1 extends React.Component {

      	constructor(props) {
      		super(props);
      	}

      	render() {
      		return(
      			<div></div>
      		);
      	}
      }

      export default $1;
    """
