'.source.js':
  'ReactJS Presentational Component Template':
    'prefix': 'react-presentational-component-template'
    'body': """
      "use strict";

      import React from "react";

      const $1 = ({
        // props list
      }) => {
        return(
          <div></div>
        );
      }

      export default $1;
    """
